.text-center {
    text-align: center;
}
.top-label {
    font-size: 300%;
    margin-bottom: 30px;
}
.margin-left-20 {
    margin-left: 20px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-top-50 {
    margin-top: 50px;
}
.margin-auto {
    margin: auto;
}
.button {
    padding: 10px 20px;
    background-color: #9b9b9b;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.signin-button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.signin-ui {
    margin: 50px auto auto;
    width: 50%;
    padding: 100px 100px;
    background-color: #9b9b9b;
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}