<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign UP</title>
</head>
<body>
    <h1>この機能はまだありません</h1>
    <h2>Sign UP, Sign Out は今後の課題です</h2>
    <h2>Sign In したい場合はlocalにfile".env"を作成し以下の内容を記述してください</h2>
    <h3>
        APP_USRE_ID="user"
        APP_USRE_PW="password"
    </h3>
    <div class="margin-top-20 text-center">
            <a href="{{ url_for('signin') }}">戻る</a>
        </div>
</body>
</html>